.navbar{
    background-color: rgb(22, 27, 34);
}
.container-fluid{
   .navicon{
       i{
           margin-right: 10px;
           color: white;
           font-size:32px;
       }
   }
   
}
.row{
margin: 0;
padding: 0;
.col-3{
   background-color:rgb(13, 17, 23) ;
   border-right:solid 1px rgba(255, 255, 255, 0.171);
   height: calc(100vh- (nav));
}
.col-9{
   background-color: rgb(1, 4, 9);
}
}
